
$color_1: black;
$font-family_1: 'Lora', serif;
$font-family_2: 'Cabin Sketch', cursive;
$font-family_3: 'Pompiere', cursive;
$font-family_4: 'Dancing Script', cursive;
$font-family_5: 'Quicksand', sans-serif;
$background-color_1: #F1C27B;
$background-color_2: #A2CDB0;
$background-color_3: #FFD89C;
$background-color_4: #E1EEDD;
$background-color_5: #FFF2CC;
$border-color_orange: #F4B183;

@import '_footer';
@import '_nav';


@mixin theme($theme: ImgBorder){
	background-color: $background-color_5;
	border: 8px solid $border-color_orange;
	padding: 15px;
	border-radius: 5px;
}
#encabezado {
	background-color: $background-color_1;
}
#menupizzas {
	background-color: $background-color_2;
}
#historia {
	background-color: $background-color_4;
}
.item-options {
	color: $color_1;
	margin: 0 1rem;
	text-decoration: none;
	font-family: $font-family_1;
	font-size: larger;
}
.logo {
	width: 90px;
	margin: 0;
	img {
		width: 100%;
	}
}
.titulo {
	font-family: $font-family_2;
	font-weight: 800;
	font-size: xx-large;
	text-align: center;
	color: $color_1;
}
.parrafo {
	font-family: $font-family_3;
	font-weight: 400;
	font-size: larger;
	text-align: center;
	color: $color_1;
	margin: auto;
}
.paginainicio {
	background-color: $background-color_2;
	width: 99%;
	border: 8px solid #534e4e;
	padding: 40px;
	margin: 8px;
	justify-content: center;
}
.pizza1 {
	width: 350px;
	@include theme($theme:ImgBorder);
}
.fotosr {
	width: 400px;
	@include theme($theme:ImgBorder);
}
.pizza {
	width: 450px;
	@media only screen and (max-width: 420px) { width: 90%}
}

.titulopizzas {
    font-family: $font-family_4;
}

.bebidas {
	width: 350px;
	@include theme($theme:ImgBorder);
}

.mapa{
	frame{
		width: 100%;
	}
}